body {
    background: url('') no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

@media (max-width: 480px) { 
  body {
    font-size: 11px;
  }
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.navbar-header {
  display: flex;
}

@media (max-width: 769px) {
  .navbar-default{
    
    /* 
    background-color: transparent;
    border-color: transparent;
    */
  }

  .mainContent {
   

  }

}

.hidden {
  visibility: hidden;
}



