<div class="row" style="padding-right: 3%;">
<div class="col-xs-12" style="margin: 1%;">

<div style="background-color: white;" class="home">

	<h1 class="text-center">{{welcomeMessage}}</h1>

	<div class="row">
		<div class="col-xs-4">

			<div class="row"></div>
			<div class="row">
				<a ui-sref="newExpense">
					<h1 class="text-center"><button class="btn btn-warning" >New Expense</button></h1>
				</a>				
			</div>
			<div class="row" >
				<a><h2 class="text-center"><span ng-click="toggleEditingStatus()" class="glyphicon glyphicon-th-list"></span></h2></a>
			</div>
		</div>

		<div id="editingInputContainer" class="col-xs-4" style="padding-top: 2.5em; padding-left: 0px; padding-right: 0px;" >
			<input style="width: 100%;" id="editingInput" ng-if="editingStatus" ng-model="editingVariable">
			<div ng-if="editingStatus" style="width: 100%">
				<a><h3 class="text-center"><span ng-click="newExpenseCategory()" class="glyphicon glyphicon-save"></span></h3></a>
			</div>
		</div>

		<div class="col-xs-4">
			<a ui-sref="newIncome">
			<h1 class="text-center"><button class="btn btn-success" >New Income</button></h1></a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<a >
			<h1 class="text-center"><button ng-click="getAllExpenses()" class="btn btn-primary" >Expenses</button></h1></a>
		</div>
	</div>

	<!-- this list will change to a view of next month's bills -->
	<div class="row" ng-if="showExpenses" >
		<div class="col-xs-12">
			<div ng-repeat="expense in expenses" class="panel panel-success">
				<div class="panel-heading">
					{{expense.name}} | mongo_id = {{expense._id}}
					<span ng-click="editExpense(expense.name)" class="pull-right glyphicon glyphicon-edit"></span> 
					<span ng-click="deleteExpenseID(expense._id)" class="pull-right glyphicon glyphicon-trash">
				</div>
				<div class="panel-body">
					Amount: {{expense.amount}} <br>
					Re-Occuring: {{expense.reoccuring}}<br>
					Due Date: {{expense.dueDay}}<br>
					Category: {{expense.category}}
				</div>
			</div>
		</div>
	</div>

	<div class="row" ng-if="editingStatus">
		<div class="col-xs-2" ng-repeat="category in categories" >
			<div>
				<a><h1 class="text-center">
					<button class="btn btn-default" >{{category.name}}
					</button>
				</h1></a>
			</div>
		</div>
	</div>

</div>

</div>
</div>