<div class="row">

	<!-- <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-2 col-xs-12" > -->
		

	<h1 class="text-center" ><img src="../img/Logo.png"></h1>

	<div class="wrapperDiv" style="border-style: solid; border-color: green;">

		
		<div class="row">
			
			<div class="col-sm-6">
				<h2 class="text-center" ><img src="../img/JerkeyGIF.gif"></h2>
			</div>

			<div class="col-sm-6">
				<h2 class="text-center" ><img src="../img/SalsaGIF.gif"></h2>
			</div>

		</div>


	</div>

	<!-- </div> -->

</div>

		
