<div class="row" style="padding-right: 3%;">
<div class="col-xs-12" style="margin: 1%;">

<div style="background-color: white;" class="home">

	<h1 class="text-center">{{welcomeMessage}}</h1>
	<h4 class="text-center">
		Final Month Net = $<span ng-if="finalMonthNet >=0" style="color: green;" >{{finalMonthNet}}</span> <span ng-if="finalMonthNet < 0" style="color: red;" >{{finalMonthNet}}</span>
	</h4>

	<div class="row">
		<div class="col-xs-4">

			<div class="row"></div>
			<div class="row">
				<a ui-sref="newExpense">
					<h1 class="text-center"><button class="btn btn-warning" >New Expense</button></h1>
				</a>				
			</div>
			<div class="row" >
				<a><h2 class="text-center"><span ng-click="toggleEditingStatus()" class="glyphicon glyphicon-th-list"></span></h2></a>
			</div>
		</div>

		<div id="editingInputContainer" class="col-xs-4" style="padding-top: 2.5em; padding-left: 0px; padding-right: 0px;" >
			<input style="width: 100%;" id="editingInput" ng-if="editingStatus" ng-model="editingVariable">
			<div ng-if="editingStatus" style="width: 100%">
				<a><h3 class="text-center"><span ng-click="newExpenseCategory()" class="glyphicon glyphicon-save"></span></h3></a>
			</div>
		</div>

		<div class="col-xs-4">
			<a ui-sref="newIncome">
			<h1 class="text-center"><button class="btn btn-success" >New Income</button></h1></a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<a >
			<h1 class="text-center"><button ng-click="toggleShowExpenses()" class="btn btn-primary" >Expenses</button></h1></a>
		</div>
		<br> <br>
	</div>

	<div ng-if="editingStatus" class="row" style="padding-right: 1%; padding-left: 1%;">
		<div class="col-xs-3" ng-repeat="category in categories" >
			<div class="panel panel-warning">
				<div class="panel-heading text-center">
					<span ng-click="toggleEditingCategoryName(category._id)" class="">{{category.name}}</span>
				</div>
				<div class="panel-body">
					<div class="row" ng-if="editingCategoryNameBool">
						<div dsdsdclass="hidden" >
							<input id="{{category._id}}" class="hidden" ng-model="newCategoryNameInput" placeholder="{{category.name}}" >
						</div>
					</div>
					<a> <span ng-click="editExpenseCategory(category._id)" class="glyphicon glyphicon-pencil pull-left"></span></a>

					<!-- 
					<a> <span ng-click="toggleDashboard(category._id)"  id="{{category._id}}" class="glyphicon glyphicon-dashboard"></span></a>
					-->

					<a> <span ng-click="deleteExpenseCategoryID(category._id)" class="glyphicon glyphicon-trash pull-right"></span></a>
				</div>
			</div>
		</div>
	</div>	

	

	<!-- this list will change to a view of next month's bills -->
	<div class="row" ng-if="showExpenses" >
		<div ng-repeat="expense in expenses" class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
			<div class="panel panel-success">
				<div class="panel-heading">
					<span class="text-center">{{expense.name}}</span>
					<span ng-click="editExpense(expense._id)" class="pull-right glyphicon glyphicon-edit"></span> 
					<span ng-click="deleteExpenseID(expense._id)" class="pull-right glyphicon glyphicon-trash">
				</div>
				<div class="panel-body">
					Amount: ${{expense.amount}} <br>
					Re-Occuring: {{expense.reoccuring}}<br>
					Due Date: {{expense.dueDay}}<br>
					Category: {{expense.category}}
				</div>
			</div>
		</div>
	</div>


	<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit {{editExpenseModalName}}</h4>
            </div>
            <div class="modal-body">
              <div class="row">

				<div class="col-xs-12">
					<form class="form-inline" >
						<div class="form-group">
							<label>Expense Name : </label> 
							<input placeholder="{{editExpenseModalName}}" ng-model="editExpenseModalName" type="text">
						</div>

						<div class="form-group">
							<label>Amount : $ </label>
							<input ng-model="editExpenseModalAmount" type="number" min="0.01" step="0.01" />
						</div>

						<div class="form-group">
							<label><input ng-model="editExpenseModalReoccuring"  type="checkbox" ng-true-value="true" ng-false-value="false" > : Re-Occuring?</label>
						</div>

						<div ng-if="editExpenseModalReoccuring"  class="form-group">
							<label>Day: </label>
							<select id="dueDateDayID" class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
								<option>15</option>
								<option>16</option>
								<option>17</option>
								<option>18</option>
								<option>19</option>
								<option>20</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
								<option>25</option>
								<option>26</option>
								<option>27</option>
								<option>28</option>
								<option>29</option>
								<option>30</option>
								<option>31</option>
							</select>
						</div>

						<div class="form-group">
							<label>Category : </label>
							<select ng-model="editExpenseModalCategory" id="newExpenseCategoryID">
								<option ng-repeat="category in categories">{{category.name}}</option>
							</select>
						</div>

					</form>
				</div>

              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button ng-click="saveEditExpense()" data-dismiss="modal" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
	</div>

	<div id="myCategoryModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit {{editCategoryModalName}}</h4>
            </div>
            <div class="modal-body">
              <div class="row">

				<div class="col-xs-12">
					<form class="form-inline" >
						<div class="form-group">
							<label>Category Name : </label> 
							<input placeholder="{{editCategoryModalName}}" ng-model="editCategoryModalName" type="text">
						</div>
					</form>
				</div>

              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button ng-click="saveEditExpenseCategory()" data-dismiss="modal" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
	</div>

</div>

</div>
</div>